*{
    padding: 0;
    margin: 0;
    border: 0;
}


body{

    background-color: #ff8b8b8e;
    /* background-color: white; */
}





.container{
    
    margin: auto;
    margin-top: 160px;
    max-width: 50%;
    max-height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    background-color: #a3f4ffc5;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}

.logo{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

input{

    font-size: 17px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    display: block;
    width: 300px;
    text-align: center;

}

button{

    border-radius: 10px;
    background-color: #960606;
    margin: auto;
    padding: 10px;
    color: white;
    margin-top: 20px;
    display: block;
    width: 200px;
    text-align: center;
}

#infos{

    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#resultado{

    text-align: center;
    margin-top: 25px;
}


p{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}


#resultado{

    color: white
}


@media 